* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; }
  main .reproductores1, main .reproductores2 {
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1.2rem; }
    main .reproductores1 .music-Card, main .reproductores2 .music-Card {
      height: 6rem;
      width: 90%;
      background-color: #261923;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      transition: all 0.3s ease;
      position: relative;
      box-shadow: 0 0 5px 0 black;
      border: 2px solid white; }
      main .reproductores1 .music-Card:hover, main .reproductores2 .music-Card:hover {
        transform: scale(1.2);
        cursor: pointer;
        box-shadow: 4px 4px 2px 0px black;
        z-index: 60; }
        main .reproductores1 .music-Card:hover::after, main .reproductores1 .music-Card:hover::before, main .reproductores2 .music-Card:hover::after, main .reproductores2 .music-Card:hover::before {
          transform: scale(1); }
      main .reproductores1 .music-Card p, main .reproductores2 .music-Card p {
        text-align: center;
        font-size: 100%;
        font-family: 'Kanit', sans-serif;
        font-style: italic;
        color: whitesmoke;
        justify-content: center; }

/* TABLERO 1 */
.reproductores1 .music-Card::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33%;
  height: 90%;
  position: absolute;
  margin: auto 0;
  right: -35%;
  transition: 0.4s all;
  transform: scaleY(0);
  border: 2px solid white; }

.reproductores1 .music-Card:nth-child(1)::after {
  background-image: url(../assets/portadas/El_amor_despues_del_amor.jpg); }

.reproductores1 .music-Card:nth-child(2)::after {
  background-image: url(../assets/portadas/Giros.jpg); }

.reproductores1 .music-Card:nth-child(3)::after {
  background-image: url(../assets/portadas/ay_ay_ay.jpg); }

.reproductores1 .music-Card:nth-child(4)::after {
  background-image: url(../assets/portadas/Civilizacion.jpg); }

.reproductores1 .music-Card:nth-child(5)::after {
  background-image: url(../assets/portadas/27v2.jpg); }

.reproductores1 .music-Card:nth-child(6)::after {
  background-image: url(../assets/portadas/27ciro.jpg);
  background-position: 45%;
  background-size: 135%; }

/* TABLERO 2 */
.reproductores2 .music-Card::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33%;
  height: 90%;
  position: absolute;
  margin: auto 0;
  left: -35%;
  transition: 0.4s all;
  transform: scaleY(0);
  border: 2px solid white; }

.reproductores2 .music-Card:nth-child(1)::before {
  background-image: url(../assets/portadas/Especial.jpg); }

.reproductores2 .music-Card:nth-child(2)::before {
  background-image: url(../assets/portadas/Otro_dia_en_el_planeta_tierra.jpg); }

.reproductores2 .music-Card:nth-child(3)::before {
  background-image: url(../assets/portadas/Exilio_de_las_especies.jpg); }

.reproductores2 .music-Card:nth-child(4)::before {
  background-image: url(../assets/portadas/Laberintos_entre_aristas_y_dialectos.jpg); }

.reproductores2 .music-Card:nth-child(5)::before {
  background-image: url(../assets/portadas/confort_musica_para_volar.jpg); }

.reproductores2 .music-Card:nth-child(6)::before {
  background-image: url(../assets/portadas/acustico.jpg);
  background-size: 135%;
  background-position: bottom; }

/* ANIMACIONES */
.animaciones {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  flex-basis: 50%;
  border: 1rem solid; }
  .animaciones .alien {
    overflow: hidden; }
  .animaciones .luna {
    height: 8rem;
    width: 7rem;
    background-color: white;
    border-radius: 50%;
    rotate: 35deg;
    transition: 0.8s all ease;
    align-self: flex-end;
    animation: zoom 1.5s infinite alternate-reverse;
    animation-fill-mode: none; }
    .animaciones .luna::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: black;
      border-radius: 50%;
      position: relative;
      left: -1.7rem;
      transition: 0.7s all ease; }

@keyframes zoom {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

/* MEDIA */
@media screen and (max-width: 855px) {
  main {
    flex-direction: column;
    justify-content: space-around; }
    main .reproductores1, main .reproductores2 {
      width: 85%; }
      main .reproductores1 .music-Card::after, main .reproductores1 .music-Card::before, main .reproductores2 .music-Card::after, main .reproductores2 .music-Card::before {
        display: none; }
    main .animaciones .luna {
      display: none; } }

/* AUDIO SETTINGS */
audio {
  width: 90%;
  height: 40%; }

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #ffffff; }
