* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 4rem;
    overflow: hidden;
}
.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contenedor div{
    width: 20rem;
    height: 4rem;
    background-color:rgb(236, 233, 233);
    transform: 
        perspective(10rem)
        rotatex(60deg)
        scale(0.7);
        margin-top: -2.5rem;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.4s all ease;
        border: 4px solid black;
}
.contenedor div:hover{
    transform:
      rotate(0deg)
      scale(1.3)
      translateY(10px);
      z-index: 15;
      margin-bottom: 2rem;
      cursor: pointer;
}
.contenedor div audio{
    height: 20px;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}



main .animaciones{
    height: 90vh;
    width: 50vw;
    display: flex;
    position: relative;

}
main .animaciones .girl{
    position: absolute;
    top: 31%;
}

main .animaciones .music{
    position: absolute;
    top: 45%;
    right: 4rm;
    transform: rotateY(180deg);
}
main .animaciones .alien{
    position: absolute;
    top: 9rem;
    left: 12rem;
    transform: rotate(45deg);
}
main .animaciones .alien2{
    position: absolute;
    transform: rotate(-45deg);
    color: tomato;
}
main .animaciones .alien3{
    position: absolute;
    right: 2rem;
    top: -2rem;
    transform: rotate(120deg);
}